<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>e-forms</title>
  <meta name="description" content="" />
  <meta name="shailja" content="sen" />

</head>

<body>
  <div>
    <header>
      <h1>e-forms</h1>
    </header>
    <nav>
      <p><a href="casual-leave.html">Casual-leave form</a></p>
      <p><a href="extension-of-leave.html">Extension of leave form</a></p>
      <p><a href="teaching-hours.html">Teaching Hours form</a></p>
      <p><a href="wekly-feedback.html">Weekly feedback form</a></p>
	  <p><a href="performance-assessment-form.html">Performance assessment form</a></p>
    </nav>

    
    
  </div>
</body>
</html>
