<html>
<body>
<table border = "1">
<tr>
<td>course_ID</td>
<td>Total Feedbacks</td>
<tr>
<td>{{course_id}}</td>
<td>{{t}}</td><tr>
</table>
<br>
<br>
<header> <h2>Content Rate</h2> </header>
<table border = "1">
<td>#1</td>
<td>#2</td>
<td>#3</td>
<td>#4</td>
<td>#5</td>
</tr>
<tr>
<td>{{c1}}</td>
<td>{{c2}}</td>
<td>{{c3}}</td>
<td>{{c4}}</td>
<td>{{c5}}</td><tr>
</table>
<br>
<br>
<header> <h2>Presentation Rate</h2> </header>
<table border = "1">
<tr>
<td>#1</td>
<td>#2</td>
<td>#3</td>
<td>#4</td>
<td>#5</td>
</tr>
<tr>
<td>{{p1}}</td>
<td>{{p2}}</td>
<td>{{p3}}</td>
<td>{{p4}}</td>
<td>{{p5}}</td>
</tr>

</table>
</br>
 <div align = left> <a href="/">back</a> </div> 
</body>
</html>
