<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Performance Assessment</title>
  <meta name="description" content="" />
  <meta name="author" content="vaio" />

</head>

<body>
  <div>
    <header>
      <h1>Performance Assessment of Units at Head Office and centres</h1>
    </header>
    <header>
      <h2>(For Awards, Special Pay/ Teaching Waiver etc.)</h2>
    </header>
	<p>* Please note that this is not an ACR form</p>
    <div>
	<header>
      <h2>I. General</h2>
    </header>
    <br/>
    <p><label>a. Period of Assessment :</label> 
    	<label>from date:</label><input name="Text1" type="date"/>
    	<label>to date:</label><input name="Text1" type="date"/>
    	</p>      
    <br/>
    <p><label>b. Name of the unit :</label> <input name="Text1" type="text"/></p> 
    <br/>
    <p><label>c. Head Office/Centre :</label> <select name="centres"><option value="Option1">NIFT centre - Gandhinagar<option value="Option2">NIFT centre - Bengalaru<option value="Option3">NIFT centre - Delhi <option value="Option4">NIFT centre - Bhopal<option value="Option5">NIFT centre - Bhubaneshwar<option value="Option6">NIFT centre - Chennai<option value="Option7">NIFT centre - Hyderabad<option value="Option8">NIFT centre - Jodhpur<option value="Option9">NIFT centre - Kangra<option value="Option10">NIFT centre - Kannur<option value="Option11">NIFT centre - Kolkata<option value="Option12">NIFT centre - Mumbai<option value="Option13">NIFT centre - Patna <option value="Option14">NIFT centre - Raebareli<option value="Option15">NIFT centre - Shillong</select></p>     
    <br/>
    <p>d. Head of the unit  :  <label>Employee Id :</label> <input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/><label>Designation</label><select name="cheat_sheet_example"><option value="Option1">Director General<option value="Option2">Centre Coordinator<option value="Option3">Senior Professor<option value="Option4">Professor<option value="Option5">Associate Professor<option value="Option6">Assistant Professor</select>
</p>
    <br/>
    <p>e. Unit in charge  :<label>Employee Id :</label> <input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/><label><label>Designation</label> <select name="cheat_sheet_example"><option value="Option1">Director General<option value="Option2">Centre Coordinator<option value="Option3">Senior Professor<option value="Option4">Professor<option value="Option5">Associate Professor<option value="Option6">Assistant Professor</select></p>
    <br/>
    <p><label>c. Support Staff :</label></p>
    <br/>
    <table border = "1">
<tr>
<td>Sr. No.</td>
<td>Name</td>
<td>Designation</td>
</tr>
<tr>
<td>1</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
</tr>
<tr>
<td>2</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
<tr>
<td>3</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
</tr>
<tr>
<td>4</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
</tr>
<tr>
<td>5</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
</tr>
<tr>
<td>6</td>
<td>
<input name="Text1" type="text"/>
</td>
<td><select name="cheat_sheet_example"><option value="Option1">Professor<option value="Option2">Associate Professor<option value="Option3">Assistant Professor</select></td>
</tr>
</tr>
</table>
<br/>
    <p><label>g. Period of absence during the period under assessment :</label></p> 
    <br/>
<table border = "1">

<tr>
<td>Unit Members</td>
<td>Employee Id</td>
<td>Earned/Medical leave</td>
<td>Training/Sabbatical leave</td>
<td>any other</td>
</tr>
<tr>
<td>Head of the unit</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td>-</td>
<td>-</td>
</tr>

<tr>
<td>Unit in charge</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>

<tr>
<td>Support Staff</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>
<tr>
<td>-</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>


<tr>
<td>-</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>


<tr>
<td>-</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>


<tr>
<td>-</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>


<tr>
<td>-</td>
<td><input name="Text1" type="text" id="Text1" pattern="^[0-9]{6}$"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
<td><input name="Number" type="number"/></td>
</tr>
</tr>


</table>

<br/>
    <p><label>h.During the period under review :</label> </p>
    <br/>
    <p><label>(i) No. of receipts diarized: </label> <input name="Text1" type="number"/></p>  
	<br/>
    <p><label>(ii) No. of receipts dispossed of: </label> <input name="Text1" type="number"/></p>
     <br/>
    <p><label>(iii) No. of files dealt with: </label> <input name="Text1" type="number"/></p>
    <br/>
    <p><label>(iv) No. of letters issued: </label> <input name="Text1" type="number"/></p>
    
    
	<header>
      <h2>II. Target (Outcomes)</h2>
    </header>
    
    <table border = "1">
<tr>
<td>List of Targets approved </br>for the unit at HO/centre</td>
<td>Extent of outcomes achieved</td>
<td> Variance, if any</td>
<td>Brief reasons for shortfall in outcomes</td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
<td> <input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
<td> <input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
<td> <input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
<td> <input name="Text1" type="text"/></td>
<td><input name="Text1" type="text"/></td>
</tr>
</table>

<header>
      <h2>III. Submission of Returns to HO by centres </h2>
    </header>
    
    <table border = "1">
<tr>
<td>Subject of the prescribed return</td>
<td>Due on</td>
<td> Sent on</td>
<td>Feedback if any given by/recieved from HO on the return</td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>
</table>

<header>
      <h2>III. Submission of Returns to MIS for HO only </h2>
    </header>
    
    <table border = "1">
<tr>
<td>Subject of the prescribed return</td>
<td>Due on</td>
<td> Sent on</td>
<td>Feedback if any given by/recieved from MIS on the return</td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>

<tr>
<td><input name="Text1" type="text"/></td>
<td><input name="Text1" type="date"/></td>
<td> <input name="Text1" type="date"/></td>
<td><input name="Text1" type="text"/></td>
</tr>
</table>

<header>
      <h2>IV. Additional comments of Unit In Charge, if any  </h2>
    </header>
<p><input name="Text1" type="text"/></p>
<header>
      <h2>V. Additional Comments of Unit Head, if any  </h2>
    </header>
<p><input name="Text1" type="text"/></p>
    
    </div>

  </div>
</body>
</html>
