<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>profile_page</title>
  <meta name="description" content="" />
  <meta name="Shailja Shukla" content="sen" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  
</head>

<body>
  <div>
    <header>
      <h1>Profile Form</h1>
    </header>
    <form action="/edit_profile/" method="post">
{% if error %} 
<p style="color: red;"> Check your values. </br> please, try again</p>
    {% endif %} 
    	<header>
      <h2>INSTITUTIONAL DETAILS</h2>
    </header>
<p><label>DESIGNATION:</label>
<select name="designation">
     <option value="1" {%ifequal p.designation '1' %} selected {% endifequal %} >Professor
     <option value="2" {%ifequal p.designation '2' %} selected {% endifequal %}>Assistant Professor
     <option value="3" {%ifequal p.designation '3' %} selected {% endifequal %}>Associate Professor
     <option value="4" {%ifequal p.designation '4' %} selected {% endifequal %}>Senior Professor
     <option value="5" {%ifequal p.designation '5' %} selected {% endifequal %}>Director
     <option value="6" {%ifequal p.designation '6' %} selected {% endifequal %}>Assistant
     <option value="7" {%ifequal p.designation '7' %} selected {% endifequal %}>Centre Coordinator
     <option value="8" {%ifequal p.designation '8' %} selected {% endifequal %}>Director General
</select></p>
<br />
	<p><label>DEPARTMENT:</label>
<select name="department">
	<option value="1" {%ifequal p.department '1' %} selected {% endifequal %}> Fashion Design
        <option value="2" {%ifequal p.department '2' %} selected {% endifequal %}>Leather Design
        <option value="3" {%ifequal p.department '3' %} selected {% endifequal %}>Accessory Design
        <option value="4" {%ifequal p.department '4' %} selected {% endifequal %}>Textile Design
        <option value="5" {%ifequal p.department '5' %} selected {% endifequal %}>Knitwear Design
        <option value="6" {%ifequal p.department '6' %} selected {% endifequal %}>Fashion Communication
        <option value="7" {%ifequal p.department '7' %} selected {% endifequal %}>Apparel Production
        <option value="8" {%ifequal p.department '8' %} selected {% endifequal %}>Design Space
        <option value="9" {%ifequal p.department '9' %} selected {% endifequal %}>Fashion Management
        <option value="10" {%ifequal p.department '10' %} selected {% endifequal %}>Fashion Technology
</select></p>
<br />
<header>
      <h2>PERSONAL DETAILS</h2>
</header>
<br/> 
<label>Marital Status: </label>

<input type="radio" name="marital_status" value="M" {%ifequal t.marital_status 'M' %} checked {% endifequal %}  /> Married 
<input type="radio" name="marital_status" value="U" {%ifequal t.marital_status 'U' %} checked {% endifequal %} /> Unmarried</p>
	
<p><label>DATE OF BIRTH: &lsaquo;yyyy&rsaquo;-&lsaquo;mm&rsaquo;-&lsaquo;dd&rsaquo;</label>
<input name="dob" type="date" value="{{t.dob.year}}-{{t.dob.month}}-{{t.dob.day}}"></p> 
<p><label>Sex:</label>

<input type="radio" name="sex" value="M" {%ifequal t.sex 'M' %} checked {% endifequal %}  /> Male 
<input type="radio" name="sex" value="F" {%ifequal t.sex 'F' %} checked {% endifequal %} /> Female</p>
	
<br/>
<header>
      <h2>CONTACT DETAILS</h2>
</header>
<br />
	<p><label>Email Address:</label><input name="email" type="email" autocomplete = "on" value = '{{u.email}}' /></p>
<br/>
	<p><label>Phone no.:</label><input name="phone_no" type="tel" autocomplete = "on" value = '{{t.phone_no}}' /></p>
<br/>
<header>
      <h3>ADDRESS</h3>
</header>
<br/>
	<p><label>STREET ADDRESS :</label><input name="street" type="text" value = '{{t.street}}' /></p>    
<br/>
	<p><label>CITY:</label><input name="city" type="text" value = '{{t.city}}' /> <label>ZIP CODE:</label><input name="zip_code" type="zip" value = '{{t.zip_code}}' /></p>    
<br/>	
	<p><label>STATE:</label><input name="state" type="text" value = '{{t.state}}' />
<br/> </p>
<header>
	<h4>EMPLOYMENT and EXPERIENCE DETAILS</h4>
</header>
<br/>
    <p><label>EXPERTISE</label><input name="expertise" type="text" value = '{{p.expertise}}' /></p>    
<br/>
	<p><label>EXPERIENCE</label><input name="experience" type="text" value = '{{p.experience}}' /></p>
<br/>
    <p><label>PAST POSITIONS</label><input name="past_positions" type="text" value = '{{p.past_positions}}' /></p>
<br/>
		<input name="Save" type="submit" value="save" /></a></p> 

  </form>

    
  </div>
</body>
</html>
