<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>profile_page</title>
  <meta name="description" content="" />
  <meta name="Shailja Shukla" content="sen" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  
</head>

<body>
  <div>
    <header>
      <h1>PROFILE PAGE: WELCOME _____</h1>
    </header>
    <form action="" method="post">
    	<header>
      <h2>INSTITUTIONAL DETAILS</h2>
    </header>
<p><label>Designation:</label><input name="designation" type="text" autocomplete = "on" autofocus /></p>
<br />
	<p><label>DEPARTMENT:</label><input name="department" type="text" autocomplete = "on" /></p>
<br />
<header>
      <h2>PERSONAL DETAILS</h2>
</header>
<br/>
	Married: <input name="Marital_Status" type="checkbox"/>Single: <input name="Checkbox1" type="checkbox"/></p>
	<p><label>DATE OF BIRTH:</label><input name="dob" type="date" /></p>    
<br/>
<p><label>Sex:</label><select name="sex"><option value="Option1">F<option value="Option2">M</select></p>
	
<br/>
<header>
      <h2>CONTACT DETAILS</h2>
</header>
<br />
	<p><label>Email Address:</label><input name="Email_Address" type="email" autocomplete = "on" /></p>
<br/>
	<p><label>Phone no.:</label><input name="PhoneNo" type="tel" autocomplete = "on" /></p>
<br/>
<header>
      <h3>ADDRESS</h3>
</header>
<br/>
	<p><label>STREET ADDRESS :</label><input name="street" type="text" /></p>    
<br/>
	<p><label>CITY:</label><input name="city" type="text" /> <label>ZIP CODE:</label><input name="zip" type="zip" /></p>    
<br/>	
	<p><label>STATE:</label><input name="state" type="text" /><label>COUNTRY:</label><input name="country" type="text" /></p>    
<br/> 
<p><a href="https://profile_page_ctd.com">Next</a></p>  

  </form>

    
  </div>
</body>
</html>
