<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	
	<title>Professor</title>
	
	<link rel="stylesheet" href="/static/css/style.css">
	
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
    <script src="static/js/tabs.jquery.js"></script>
    <script>
        $(function() {
    
            $("#example-one").organicTabs();
            
           
    
        });
    </script>
</head>

<body>

	<div id="page-wrap">

		<h1>Welcome {{ u.username }}!</h1>
	<br>
        <br>	
                 <a href="/profile/">Profile</a><div align = right> <a ALIGN = LEFT href="/logout/">Logout</a> </div> 
			
        <div id="example-one">
        			
        	<ul class="nav">
                <li class="nav-one"><a href="#home" class="current">Home</a></li>
                <li class="nav-two"><a href="#attendance">Attendance</a></li>
                <li class="nav-three"><a href="#leave">Leave</a></li>
                <li class="nav-four last"><a href="#feedback">Feedback</a></li>
            </ul>
        	
        	<div class="list-wrap">
        	<div class="tabber">
        		<ul id="home"class="tabbertab">
        			<p>
        				<header>
      <h1>Welcome</h1>
      <h1>{{u.username}}</h1>
    </header>
    
    <table border = "1">
<tr>
<td>First Name</td>
<td>{{u.first_name}}</td>
<td>Last Name</td>
<td>{{u.last_name}}</td>
</tr>
</table>

    
    <header>
      <h2>INSTITUTIONAL DETAILS</h2>
    </header>
<table border = "1">
<tr>
<td>Designation</td>
<td>{{u.designation}}</td>
</tr>
<tr>
<td>Department</td>
<td>{{u.department}}</td>
</tr>
</table>

    <header>
      <h2>PERSONAL DETAILS</h2>
    </header>
<table border = "1">
<tr>
<td>Marital_Status</td>
<td>{{u.Marital_Status}}</td>
</tr>
<tr>
<td>Date Of Birth</td>
<td>{{u.dob}}</td>
</tr>
<tr>
<td>Sex</td>
<td>{{u.sex}}</td>
</tr>
</table>

    <header>
      <h2>CONTACT DETAILS</h2>
    </header>
<table border = "1">
<tr>
<td>Email Address</td>
<td>{{u.Email_Address}}</td>
</tr>
<tr>
<td>Phone No.h</td>
<td>{{u.PhoneNo}}</td>
</tr>
<tr>
<td>Sex</td>
<td>{{u.sex}}</td>
</tr>
</table>

<header>
      <h3>ADDRESS</h3>
</header>


<table border = "1">
<tr>
<td>Street Address</td>
<td>{{u.street}}</td>
</tr>
<tr>
<td>City</td>
<td>{{u.city}}</td>
<td>Zip</td>
<td>{{u.zip}}</td>
</tr>
<tr>
<td>State</td>
<td>{{u.state}}</td>
<td>Country</td>
<td>{{u.country}}</td>
</tr>
</table>

<p><a href="https://profile_display_page_ctd.com">Next</a></p>  
        			</p>
        		</ul>
        		 
        		 <ul id="attendance" class="tabbertab" class = "hide" >
                     <p> Welcome to attendance page</p>   
        		 </ul>
        		 
        		 <ul id="leave" class="tabbertab" class="hide">
        		   <p> Welcome to leave page</p>
        		 </ul>
        		 
        		 <ul id="feedback" class="tabbertab" class = "hide">
                 <p> Welcome to feedback page</p>
        		 </ul>
        		</div> 
        	 </div> <!-- END List Wrap -->
         
         </div> <!-- END Organic Tabs (Example One) -->
		 
		 
	</div>
	
</body>

</html>
