<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>WEEKLY FEEDBACK</title>
  <meta name="description" content="" />
  <meta name="shailja shukla" content="weekly feedback page" />
  
  <script src='/static/js/libs/jquery-1.7.1.min.js'></script>
  <link href="/static/css/feedbackstyle.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/static/js/webforms2-0.5.4/webforms2.js"></script>
  
      <SCRIPT language="javascript">
        
        function randomString() {
	    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	    var string_length = 8;
	    var randomstring = '';
	    for (var i=0; i<string_length; i++) {
		var rnum = Math.floor(Math.random() * chars.length);
		randomstring += chars.substring(rnum,rnum+1);
	                     }
	    return randomstring;
        }
        
        function randomString1() {
	    var chars1 = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	    var string_length1 = 8;
	    var randomstring1 = '';
	    for (var i=0; i<string_length1; i++) {
		var rnum = Math.floor(Math.random() * chars1.length);
		randomstring1 += chars1.substring(rnum,rnum+1);
	                     }
	    return randomstring1;
        }
        
        
        function addRow(tableID) {
 
            var table = document.getElementById(tableID);
                        
            var randomfield = randomString();
            var randomfield1 = randomString1();
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            
            var cell1 = row.insertCell(0);
            var element1 = document.createElement("input");
            element1.type = "checkbox";
            cell1.appendChild(element1);
 			
 
            var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.type = "text";
            cell2.appendChild(element2);
 
            var cell3 = row.insertCell(2);
            var element3 = document.createElement("input");
            element3.type = "text";
            cell3.appendChild(element3);
 
 			var cell4 = row.insertCell(3);  
            var element4 = document.createElement("input");
            element4.type = "radio";
            element4.id = "1";
            element4.name = randomfield;
            cell4.appendChild(element4);
            
            var element5 = document.createElement("input");
            element5.type = "radio";
            element5.name = randomfield;
            element5.id = "2";
            cell4.appendChild(element5);
            
            var element6 = document.createElement("input");
            element6.type = "radio";
            element6.name = randomfield;
            element6.id = "3";
            cell4.appendChild(element6);
            
            var element7 = document.createElement("input");
            element7.type = "radio";
            element7.name = randomfield;
            element7.id = "4";
            cell4.appendChild(element7);
             
            var element8 = document.createElement("input");
            element8.type = "radio";
            element8.name = randomfield;
            element8.id = "5";
            cell4.appendChild(element8);
            
            var cell5 = row.insertCell(4);
            
            var element9 = document.createElement("input");
            element9.type = "radio";
            element9.name = randomfield1;
            element9.id = "6";
            cell5.appendChild(element9);
            
            var element10 = document.createElement("input");
            element10.type = "radio";
            element10.name = randomfield1;
            element10.id = "7";
            cell5.appendChild(element10);
            
            var element11 = document.createElement("input");
            element11.type = "radio";
            element11.name = randomfield1;
            element11.id = "8";
            cell5.appendChild(element11);
            
            var element12 = document.createElement("input");
            element12.type = "radio";
            element12.name = randomfield1;
            element12.id = "9";
            cell5.appendChild(element12);
            
            var element13 = document.createElement("input");
            element13.type = "radio";
            element13.name = randomfield1;
            element13.id = "10";
            cell5.appendChild(element13);
            
           

        }
 
        function deleteRow(tableID) {
            try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
 
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if(null != chkbox && true == chkbox.checked) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
 
            }
            }catch(e) {
                alert(e);
            }
        }
 
    </SCRIPT>

</head>

<body>
  <div id="wrapper">
  <div id="toptitles">
  </div>
  <div id="navbar">
  <div id="page-wrap">	
        <div id="logoutbutton" align = right>Logout</a> </div> 
		
      <div id="example-one"><a href="#home" class="navigationtitles"> Home </a><a href="#attendance" class="navigationtitles"> Attendance </a><a href="#leave" class="navigationtitles"> Leave </a><a href="#feedback" class="navigationtitles"> Feedback </a> </div>
      </div>
  </div>
  <div id="maincontent">
  <div>
    <header>
      <h1 class="nifttitletext">National Institute of Fashion Technology</h1>
      <p class="addresstext">(Ministry of Textiles,Govt. Of India) </p>
<h1 class="secondheading">WEEKLY ACADEMIC FEEDBACK FORM</h1>
    </header>
    <header>
    	<h2 class="subheadtext"> Fashion Technology</h2>
    </header>
   
    <form action="" method="get">
    
    
<table id="dataTable" border = "1">
<tbody>
<tr>
<td>Check Box             </td>	
<td>Name of the faculty   </td>
<td>Subject               </td>
<td>Content               
	<br/>
	<pre> 1 2 3 4 5</pre> </td>
<td>Presentation         
	<br/>
	<pre> 1 2 3 4 5</pre> </td>

</tr>
<tr>
<TD><INPUT type="checkbox" name="chk" /></TD>
<td><input name="username" type="text" required/></td>
<td><input name="course_id" type="text" required/></td>
<td>
<input name="content_rate" type="radio" required class="checkbuttons"  id="1"/><input type="radio" name="content_rate" id="2" required/><input type="radio" name="content_rate"  id="3" required/><input type="radio" name="content_rate"  id="4" required/><input type="radio" name="content_rate"  id="5" required/>
</td>
<td>
<input type="radio" name="present_rate"  id="1" required/><input type="radio" name="present_rate" id="2" required/><input type="radio" name="present_rate"  id="3" required/><input type="radio" name="present_rate"  id="4" required/><input type="radio" name="present_rate"  id="5" required/>
</td>



</tbody>
</table>

<p><br/>
  <INPUT type="button" class="addbuttons" onclick="addRow('dataTable')" value="Add Row"/>
  <INPUT type="button" class="addbuttons" onclick="deleteRow('dataTable')" value="Delete Row" />
</p>
<p><input name="submit" type="submit" class="submitbutton" value="submit" ></p>

	<p class="subheadingtext"> Instructions:<br/>
	</p>
	<p class="subheadingtext">
	  1)Please circle the appropriate grade against each subject/faculty in the rating column individually
	  for content and presentation column on a sliding scale of 1-5 where 5 is excellent and 1 is very poor.
	  </p>
	<p class="subheadingtext">
		2)Please mention the name of the substitute faculty, if any, who actually conducted the classes in 
		case of non-presence of the concerned faculty.</p>
		 
 	
</form>
</div>
</div>

<div id="footer">
</div>

</div>
</body>
</html>
