@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFF;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#navbar {
	background-color: #FFF;
	background-image: none;
	float: none;
}
#logoutbutton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	float: none;
	clear: none;
	width: 60px;
	margin-right: 20px;
	margin-left: auto;
	padding: 4px;
	border: thin solid #666;
	margin-bottom: 10px;
}
#example-one {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	height: auto;
	width: auto;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #993;
	border-right-color: #993;
	border-bottom-color: #993;
	border-left-color: #993;
	background-color: #933;
}
.nifttitletext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 27px;
	color: #FFF;
	background-color: #033;
	padding: 3px;
	font-weight: 500;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
}
.welcometext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #639;
	padding: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
}

#wrapper {
	height: auto;
	width: auto;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 1px;
}
#toptitles {
	background-image: url(Border2.png);
	height: 220px;
}
.navigationtitles {
	color: #993;
	background-color: #FFF;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 15px;
	font-size: 24px;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 5px;
	border: 6px double #993;
	text-align: left;
}
table {
	background-color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #666;
	margin: 20px;
	border: 0px none #399;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000;
	font-style: normal;
	line-height: normal;
	clear: both;
}

td {
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: #FFF;
}
#logoutbutton {
	margin-right: 20px;
}
#editbutton {
	margin-right: 20px;
}
#editbutton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	float: right;
	padding: 4px;
	margin-right: 20px;
	margin-left: auto;
	border: thin solid #666;
	margin-top: 0px;
}
#maincontent {
	padding-top: 40px;
	margin-top: 20px;
}

#footer {
	height: 180px;
	background-image: url(FooterBorder.png);
	background-position: bottom;
	background-color: #FFF;
}
.headingtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	background-color: #333;
	padding: 3px;
	margin-right: 20px;
	margin-left: 20px;
	text-transform: capitalize;
	border: 1px solid #999;
}
input {
	width: 200px;
	margin-left: 0px;
}
select {
	margin-left: 20px;
}
.subheadingtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #933;
}
.submitbutton {
	width: 100px;
	margin-left: 20px;
	background-color: #933;
	color: #FFF;
	border: thin solid #666;
}
.iaccept {
	margin-left: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #933;
}

#addressoptions {
	padding: 0px;
	margin-left: 20px;
}
#formoptions {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #333;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	border: thin solid #333;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 0px;
}
.addresstext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	text-align: center;
}
