body
{

background-color: black;

}

#logo
{
background-color: white;
color:black;

}

#s_up
{
margin-top:10px;
margin-bottom:50px;
margin-right:100px;
margin-left:100px;
}

#lform
{
float:right;
margin-right:10px;
}